<div class="container" >
  <h1 class="mt-4">Prueba</h1>


  <div class="form-group col-sm-12 col-md-3 col-lg-3 col-xl-3 py-4">
    <label for="separadorInput"></label>
    <div class="input-group">
      <input type="text" class="form-control" id="separadorInput" [(ngModel)]="separador" placeholder="Ingrese un separador">
      <div class="input-group-append">
      </div>
    </div>
  </div>

  <input
    class="form-control mb-5"
    type="file"
    class="upload"
    [disabled]="!separador"
    (change)="changeListener($event.target.files)"
  />
  <button class="btn btn-primary xl-3 py-1 mx-4"(click)="enviarDatos = true; enviarPost()">Enviar</button>
  <div class="alert alert-success mt-3" *ngIf="mensajeExito">
    Cargue exitoso
  </div>
  <table class="table table-bordered table-dark mt-5">
    <thead>
      <tr>
        <th *ngFor="let item of headersTable; let i = index">{{ item }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of linesR[0]; let i = index">
        <td *ngFor="let itemm of headersTable; let j = index">{{ item[j] }}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary xl-3 py-1" type="button" (click)="recargarPagina()">Nuevo Cargue</button>
</div>
